<div class="fixed-action-btn">

<a href="/album">

<button style="display: block;" class="icon-btn add-btn">
    <div class="add-icon"></div>
    <div class="btn-txt">리뷰 쓰기</div>
   
</button>

</a>



</div>