<nav class="white">
    <div class="nav-wrapper container">

        <a href="/album/review" style="color: black;" class="brand-logo center ">Hype-Hop</a>
             <ul class="right ">
                 <li><a href="https://sangmin.vercel.app/" style="color: black;" target="_blank">Blog</a></li>
            <li><a href="mailto:hypehopcom@gmail.com" style="color: black;">Contact</a></li>
        </ul>
        
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/album/review">Community</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/album">Albums</a></li>
            <li><a href="/auth/logout">Logout</a></li>
               
    </div>

</nav>