

      <form class="form" action="/login" method="POST">
        <div class="flex-column">
          <label class="labels" for="email">Email</label>
          <div class="inputForm">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
          </div>
        </div>



        <div class="flex-column">
          <label class="labels" for="password">Password</label>
          <div class="inputForm">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        </div>

        <button type="submit" class="button-submit">Sign In</button>
      </form>
      <p class="p">
        Don't have an account? <a href="/register">
        <span class="span">Sign Up</span></a>
      </p>

      <p class="p line">Or </p>

    <div class="flex-row">
    
    </div>

    </div>
  </div>
</div>