    <p class="card-title"> 💡 Tips</p>


    <!--
        <a href="/tips/roadmap">
         <p class="tips chip" style="color: red;">개발 로드맵 및 요청사항</p>
         </a>

-->

        <p class="tips chip">앨범에 대한 리뷰를 공유해보세요.</p>
        <p class="tips chip">앨범 별로 리뷰를 읽으실 수 있어요.</p>
        <p class="tips chip">앨범리뷰 탭에서 앨범 리뷰를 읽어보세요.</p>