    <p class="card-title"> ­ЪњА Tips</p>


    


        <p class="tips chip">ВЋев▓ћВЌљ вїђьЋю вдгви░вЦ╝ Ж│хВюаьЋ┤в│┤ВёИВџћ.</p>
        <p class="tips chip">ВЋев▓ћ в│ёвАю вдгви░вЦ╝ ВЮйВю╝ВІц Вѕў ВъѕВќ┤Вџћ.</p>
        <p class="tips chip">ВЋев▓ћвдгви░ ьЃГВЌљВёю ВЋев▓ћ вдгви░вЦ╝ ВЮйВќ┤в│┤ВёИВџћ.</p>