

<div id="popup" class="popup">
  <div class="popup-content">
    
   
    <span class="popup-close">&times;</span>
   
    
    <span class="doNotShowBtn">다시 보지 않기</span>
    
   
    <a class="participate" href="https://walla.my/v/GIEU7fwsErMK4p7GXOXa" target="_blank">
   <img class="popup-image"  src="/userSurvey.JPG" alt="popup image">
   </a>
  </div>
</div>



<script src="/popUp.js">



</script>