<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
      <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
  



   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1TKN4GWGVX"></script>


<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1TKN4GWGVX');
</script>
      




  <link rel="stylesheet" href="/css/style.css">


    <title>{{pageTitle}}</title>
     <meta name="description" content="{{pageDescription}}">
        <meta name="keywords" content="{{pageKeywords}}"> 

<meta name="google-site-verification" content="pqb9o1LPjPoGa6httE4d_dr2yt4TEwNzQ9S7E0e15xk" />
</head>

<body>
    {{> _header}}

  
    <div class="container">
        {{{body}}}
    </div>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     


    

  




    <script>



 
    


M.Sidenav.init(document.querySelector('.sidenav'));
M.FormSelect.init(document.querySelector('#status'));

















    </script>


</body>



<!--
<footer>

this is a footer

</footer>

-->


</html>