<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
      <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
  


   
      




  <link rel="stylesheet" href="/css/style.css">


    <title>Hype-Hop</title>
</head>

<body>
    {{> _header}}

  
    <div class="container">
        {{{body}}}
    </div>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     


    

  




    <script>



 
    


M.Sidenav.init(document.querySelector('.sidenav'));
 M.FormSelect.init(document.querySelector('#status'));

















    </script>


</body>



<!--
<footer>

this is a footer

</footer>

-->


</html>