
{{> _add_btn_review}}
<br>

   {{> feedSwtich}}

<div class="row">

 <div class="main-container">
 


<div class="col s4 side">

     <div class="tip card">
    
      <div class="card-side">
      {{> _tips}}
       

      </div>
    </div>

    <div class="popular card">
   
      <div class="card-side"  >
          <p class="card-title">🔥주간 인기 리뷰</p>

     
          <p class="popular chip">이번주 인기 리뷰</p>
         {{#each reviewsRank}}
       
       <div class="popular-posts" style="display: flex;"  >
                
                    <p> {{inc @index}}.</p> 
                    <a style="color: black;" href="/album/review/{{_id}}">
                     <p style="text-align: left;">{{title}}</p>
      
                    </a>
                    

        
                  
        </div>
          {{/each}}

      </div>
    </div>  <!--popular card -->

     




  </div>  <!--col s4-->

   <div class="col s8">
     

        {{> _reviewCard}}

 
   </div>



</div>  <!-- main container --> 

</div>  <!--row --> 










<script src="/review.js">






</script>